@model IEnumerable<RKBank.zivotnoosiguranje>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.klijent.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.osiguranje.JMBG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPocetka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumZavrsetka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Izlozenost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.klijent.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.osiguranje.JMBG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumPocetka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumZavrsetka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Izlozenost)
        </td>
        <td>
          
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
     
        </td>
    </tr>
}

</table>
